



#LEWY{
	width: 30%;
	height: 600px;
	display:block;
	float:left;
}

.grid-container-lewy{

	height: 600px;
	display: grid;
	grid-template-columns: 1% 1% 30% 30% 4% 20% 1%;
	grid-template-rows: 40px 40px 10px 40px 250px 10px 10px 10px 20px 30px 40px;
	justify-content: center;

}
#produkt_sort_select{
grid-row: 2;
grid-column: 3/5;
}

#produkt_sortuj{
	grid-row: 2;
	grid-column: 6;
}
#produkt_sortuj a{
	display: block;
    float: left;
    width: 100%;
	height: 100%;
    padding-top:5px;
    font-size: 15px;
	color: black;
	background: white;
	border: 1px solid black;
    text-decoration: none;
    text-align: center;
    transition: all 0.7s ease;

}

#SRODKOWY{
	width: 40%;
	height: 600px;
	display:block;
	float:left;
}

.grid-container-srodkowy{
	height: 600px;
	display: grid;
	grid-template-columns: 2% 30% 2% 20% 2% 20% 2% 20% 2%;
	grid-template-rows: 40px 40px 10px 40px 60px 10px 40px 10px  60px 10px 20px 30px 40px 20px 30px 40px;
	justify-content: center;
}


#PRAWY{
	width: 30%;
	height: 600px;
	display:block;
	float:left;
}

.grid-container-prawy {
	
	height: 600px;
	display: grid;
	grid-template-columns: 1% 1% 30% 30% 4% 20% 1%;
	grid-template-rows: 40px 40px 10px 40px 50px 50px 50px 50px 50px 10px 10px 10px 20px 30px 40px;
	justify-content: center;
}



.produkty_lista {
	grid-row: 5/8;
	grid-column: 3/5;
	
}

#Dodaj_produkt_label{
	
	grid-row: 1;
	grid-column: 2/5;
	text-align: center;
	margin-top: 15px;
	font-size: 20px;
}

.nazwa_posilku_label{
	grid-row: 1;
	grid-column: 2/9;
	margin-bottom: 10px;
		text-align: center;
	
	font-size: 20px;
}

.nazwa_posilku_label input {
	width:100%;
	height:100%;
	text-align: center;
	
}


.gramatura_label {
	grid-row: 8;
	grid-column: 5;
		text-align: center;
	margin-left: 10px;
	font-size: 20px;
}
.produkty_lista select{
	width: 100%;
	height:100%;
}
		
		.label_wybierzprodukt{
	grid-row: 4;
	grid-column: 2/5;
	text-align: center;
	margin-top: 15px;
	font-size: 20px;
}

		.produkt_sortbox{
	grid-row: 6;
	grid-column: 2/5;
	
}

.produkt_sort_select{
	width:100%;
	height:100%;
}


.gramatura_input{
		grid-row: 8/10;
		grid-column: 3/5;
	margin-top: 2px;
}

#gramatura_input{
	width:100%;
	height:100%;
}


.produkt_powrot {
	grid-row: 15;
	grid-column: 3;
	background: white;
	border: 1px solid black;
}

.posilek_dodaj {
	grid-row: 15;
	grid-column: 4 ;
	background: white;
	border: 1px solid black;
}


.produkt_dodaj{
	grid-row: 11;
	grid-column: 3/5;
	background: white;
	border: 1px solid black;
}

 .produkt_powrot a, .produkt_dodaj a, .posilek_dodaj a{
    display: block;
    float: left;
    width: 100%;
	height: 100%;
    padding-top:2px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    text-align: center;
    transition: all 0.7s ease;
}

 .produkt_powrot a:hover, .produkt_dodaj a:hover, .posilek_dodaj a:hover{
	background:black;
	border: 1px solid black;
	color:white;
	
}



.Przepis_opis{
	grid-row: 10/16;
	grid-column: 2/9;
}

.Przepis_opis textarea{
	width:100%;
	height:100%;
	font-size: 16px;
	background: #BBBBBB;
	border: 1px solid black;
}


.produkty_weglowodany_nowa_wartosc{
	padding-top:10px;
	grid-row: 16;
	grid-column: 2;
	text-align: center;
	border-right: 1px solid black;
}

.produkty_bialko_nowa_wartosc{
	padding-top:10px;
	grid-row: 16;
	grid-column: 4;
	text-align: center;
	border-right: 1px solid black;
}
.produkty_tluszcze_nowa_wartosc{
	padding-top:10px;
	grid-row: 16;
	grid-column: 6;
	text-align: center;
	border-right: 1px solid black;
}
.produkty_kcal_nowa_wartosc{
	padding-top:10px;
	grid-row: 16;
	grid-column: 8;
	text-align: center;
	border-right: 1px solid black;
}



.produkty{
	padding-top:10px;
	grid-row: 3/10;
	grid-column: 6/12;
	text-align: left;
	border-right: 1px solid black;
	font-size: 18px;
}

.gramatura{
	padding-top:10px;
	grid-row: 3/8;
	grid-column: 12;
	text-align: left;
	
	font-size:18px;
	padding-left: 10px;
}

.usuwanie{
padding-top:10px;
	grid-row: 3/8;
	grid-column: 16;
	text-align: left;
	font-size:18px;
	
}

.button_usuwanie{


	width: 15px;
	height: 15px;
}

.button_usuwanie_img {
	width: 15px;
	height: 15px;
}

.zdjecie_label_input{
	grid-row: 3;
	grid-column: 4;
	
}

.zdjecie_label_input input{

}

.label_dodajzdjecie{
	
	grid-row: 1;
	grid-column: 4;
	margin-top: 15px;
}

.zdjecie {
	grid-row: 5/9;
	grid-column: 3/6;
	
}

.zdjecie img{
	
	width:100%;
	height:100%;
}



#zdjecie_error{

	grid-row: 13;
	grid-column: 3/7;
}

#nazwa_error{

	grid-row: 10;
	grid-column: 3/7;
}

#brak_opisu_error{

	grid-row: 9;
	grid-column: 3/7;
}

#gramatura_error{

	grid-row: 10;
	grid-column: 3/5;
}

.error2{
	color: red;
	visibility: hidden;
}

#nazwa_posilku_input {
	width:100%;
	height:100%;
}

#wybierz_label_error{
	grid-row: 10;
    grid-column: 2/5;
}


#tablica_z_wartosciami{
	grid-row: 2/10;
	grid-column: 2/9;

}

.ingredients-table{

  width:100%
  
}

.ingredients-table tr{
	text-align: center;
}

#produkt_usun {
	grid-row: 15;
	grid-column: 5/7;
	visibility: hidden;
}